<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %>

    <div class="center">
      <h1 class="error-code">(¬_¬")</h1>
      <h1 class="error-code">500 - server broke</h1>
    </div>

    <%- include('./partials/footer'); %>
  </body>
</html>