<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hello, world.</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  </head>
  <body>
    <h1>Protected, you're logged in.</h1>
    <form method="POST" action="/user/logout">
      <input type="submit" placeholder="Logout">
    </form>
  </body>
</html>
